/* in app/globals.css */
@import "tailwindcss";

@layer components {
  .title-banner {
    @apply absolute top-8 left-0 bg-red-700 text-white font-bold uppercase tracking-widest py-2 px-6 shadow-lg;
    clip-path: polygon(0 0, 100% 0, 95% 100%, 0% 100%)
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  background-color: var(--background);
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

#smooth-wrapper {
  overscroll-behavior: none;
}
